
    <!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>



    <!-- FOOTER -->


      <footer class="py-8 py-md-11 bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
      
              <!-- Brand -->
      
              <!-- Text -->
              <p class="text-gray-700 mb-2">
                REALISATION PAR DAVID MARCAIS 2021
              </p>
  
            </div>
            <div class="col-6 col-md-4 col-lg-2">
     
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </footer>

