{% extends '@EasyAdmin/page/content.html.twig' %}


{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Administration du SUPER ADMIN</h1>
  <p class="lead">Bienvenue dans l'interface administration de la Mediatheque</p>
</div>
{% endblock %}